node_modules
dist
.DS_Store
*.log
.env
.env.*
!.env.example

tsconfig.app.tsbuildinfo
tsconfig.node.tsbuildinfo
vite.config.d.ts
vite.config.js
vitest.config.d.ts
vitest.config.js

# Supabase
supabase/.branches
supabase/.temp
supabase/.env
.supabase/
